.tooltip-button {
    @apply bg-none font-primary font-normal text-[0.75rem] text-[#7a7a7a] border-none min-h-fit;
}

.tooltip-button:hover {
    @apply bg-none border-none text-[#9c9c9c];
}

button.tooltip-button:focus,
button.tooltip-button:active {
	/* Removes the button outline on click */
    @apply bg-none outline-none shadow-none border-none text-[#7a7a7a];
}

.tooltip-button i {
    @apply mr-1;
}

/* Custom Tooltip */

button.tooltip-button[data-tooltip] {
    @apply relative z-10;
}

/* Positioning and visibility settings of the tooltip */
button.tooltip-button[data-tooltip]:before,
button.tooltip-button[data-tooltip]:after {
    @apply absolute hidden opacity-0 left-[50%] pointer-events-none will-change-transform;
	bottom: calc(80% + 5px); /* 5px is the size of the arrow */
	transition: 0.12s;
}

/* The actual tooltip with a dynamic width */
button.tooltip-button[data-tooltip]:before {
	content: attr(data-tooltip);
	padding: 10px 18px;
	min-width: 50px;
	max-width: 250px;
	width: max-content;
	width: -moz-max-content;
	border: 1.5px solid #6cc027;
	border-radius: 6px;
	font-size: 12px;
	background-color: rgba(255, 255, 255, 0);
	backdrop-filter: blur(6px);
	background-image: linear-gradient(30deg, rgba(44, 53, 59, 0.9), rgba(48, 54, 59, 0.9), rgba(42, 56, 59, 0.9));
	box-shadow: 0px 0px 24px rgba(0, 0, 0, 0.2);
	font-family: var(--Poppins);
	color: #e0e0e0;
	text-align: center;
	white-space: pre-wrap;
	transform: translate(-50%, -5px) scale(0.5);
}

.sample_based_tooltip > button.tooltip-button[data-tooltip]:before {
    @apply max-w-[180px];
}

/* Tooltip arrow */
button.tooltip-button[data-tooltip]:after {
	content: "";
	border-style: solid;
	border-width: 5px 5px 0px 5px; /* CSS triangle */
	border-color: #6cc027 transparent transparent transparent;
	transition-duration: 0s; /* If the mouse leaves the element, 
								the transition effects for the 
								tooltip arrow are "turned off" */
	transform-origin: top; /* Orientation setting for the
								slide-down effect */
	transform: translateX(-50%) scaleY(0);
}

/* Tooltip becomes visible at hover */
button.tooltip-button[data-tooltip]:hover:before,
button.tooltip-button[data-tooltip]:hover:after {
	visibility: visible;
	opacity: 1;
}

/* Scales from 0.5 to 1 -> grow effect */
button.tooltip-button[data-tooltip]:hover:before {
	transition-delay: 0.1s;
	transform: translate(-50%, -5px) scale(1);
}

/* Arrow slide down effect only on mouseenter (NOT on mouseleave) */
button.tooltip-button[data-tooltip]:hover:after {
	transition-delay: 0.1s; /* Starting after the grow effect */
	transition-duration: 0.1s;
	transform: translateX(-50%) scaleY(1);
}

/*
	That's it for the basic tooltip.
  
	If you want some adjustability
	here are some orientation settings you can use:
*/

/* LEFT */
/* Tooltip + arrow */
button.tooltip-button[data-tooltip-location="left"]:before,
button.tooltip-button[data-tooltip-location="left"]:after {
	left: auto;
	right: calc(100% + 5px);
	bottom: 50%;
}

/* Tooltip */
button.tooltip-button[data-tooltip-location="left"]:before {
	transform: translate(-5px, 50%) scale(0.5);
}
button.tooltip-button[data-tooltip-location="left"]:hover:before {
	transform: translate(-5px, 50%) scale(1);
}

/* Arrow */
button.tooltip-button[data-tooltip-location="left"]:after {
	border-width: 5px 0px 5px 5px;
	border-color: transparent transparent transparent #3b3b3b;
	transform-origin: left;
	transform: translateY(50%) scaleX(0);
}
button.tooltip-button[data-tooltip-location="left"]:hover:after {
	transform: translateY(50%) scaleX(1);
}

/* RIGHT */
button.tooltip-button[data-tooltip-location="right"]:before,
button.tooltip-button[data-tooltip-location="right"]:after {
	left: calc(100% + 5px);
	bottom: 50%;
}

button.tooltip-button[data-tooltip-location="right"]:before {
	transform: translate(5px, 50%) scale(0.5);
}
button.tooltip-button[data-tooltip-location="right"]:hover:before {
	transform: translate(5px, 50%) scale(1);
}

button.tooltip-button[data-tooltip-location="right"]:after {
	border-width: 5px 5px 5px 0px;
	border-color: transparent #6cc027 transparent transparent;
	transform-origin: right;
	transform: translateY(50%) scaleX(0);
}
button.tooltip-button[data-tooltip-location="right"]:hover:after {
	transform: translateY(50%) scaleX(1);
}

/* BOTTOM */
button.tooltip-button[data-tooltip-location="bottom"]:before,
button.tooltip-button[data-tooltip-location="bottom"]:after {
	top: calc(80% + 5px);
	bottom: auto;
}

button.tooltip-button[data-tooltip-location="bottom"]:before {
	transform: translate(-50%, 5px) scale(0.5);
}
button.tooltip-button[data-tooltip-location="bottom"]:hover:before {
	transform: translate(-50%, 5px) scale(1);
}

button.tooltip-button[data-tooltip-location="bottom"]:after {
	border-width: 0px 5px 5px 5px;
	border-color: transparent transparent #6cc027 transparent;
	transform-origin: bottom;
}