.coming-soon {
    @apply flex items-center justify-center;
}

.coming-soon__container {
    @apply pt-36 lg:pt-[80px] lg:px-responsive w-full lg:h-screen max-w-[1920px] flex lg:justify-between;
}

.coming-soon__container--left-section {
    @apply flex flex-col flex-1 h-full justify-evenly;
}

.container__left-section--intro-text {
    @apply font-bold text-left px-14 font-primary text-dark-200 lg:p-0;
    font-size: clamp(42px, calc(2.625rem + ((1vw - 4.28px) * 0.6702)), 52px);
}

.desktop__img {
    @apply -mb-2 self-end hidden lg:inline-block;
}

.mobile__img {
    @apply inline-block w-full lg:hidden;
}

.desktop__img img {
    width: clamp(345px, calc(23.75rem + ((1vw - 7.68px) * 13.0208)), 530px);
    height: clamp(380px, calc(23.75rem + ((1vw - 7.68px) * 27.7778)), 700px);
    /* Note: The calc base value (21.5625rem) MUST be stated in REM to maintain accessibility */
    /* Where: 29.0799 = 100 * width_difference / viewport_width_difference */

    /* Safari resize fix */
    min-height: 0vw;
    /* @apply hidden align-bottom lg:block; */
}

.mobile__img img {
    @apply max-h-[838px] mt-16;
    width: 100%;
    height: calc(100% * 1.318);
}
