@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0");

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
    padding: 0 !important;
    margin: 0 !important;
    @apply font-primary;
    @apply bg-light-200 dark:bg-dark-100 scroll-smooth;
    @apply text-dark-100 dark:text-light-100;
    z-index: -2 !important;
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

/**************************************************************************/
/*****************************    Navbar   ********************************/
/**************************************************************************/

.navbar {
    @apply dark:bg-[rgba(19,19,19,0.4)] dark:backdrop-blur-[24px] w-full dark:backdrop-brightness-105 fixed z-40 max-w-[1500px] backdrop-blur-[40px] backdrop-brightness-200 bg-[rgba(255,255,255,0.8)];
}

.search-box {
    @apply h-[40px] bg-search-100 dark:bg-search-200 rounded-full p-1.5;
}

.search-box:hover > .search-text {
    @apply w-[280px] px-4;
}

.search-box:hover > .search-btn {
    @apply text-black bg-white;
}

.search-btn {
    @apply flex items-center justify-center float-right p-2 duration-300 rounded-full cursor-pointer dark:text-white w-7 h-7 bg-search-100 dark:bg-dark-100 hover:bg-dark-200;
    text-decoration: none;
}

.search-text {
    border: none;
    background: none;
    outline: none;
    float: left;
    padding: 0;
    color: white;
    font-size: 14px;
    font-weight: normal;
    transition: 0.4s;
    line-height: 25px;
    width: 0px;
    @apply text-black dark:text-white;
}

/**************************************************************************/
/*****************************    Footer   ********************************/
/**************************************************************************/

.footer {
    @apply w-full max-w-[1920px] py-20 px-10 md:px-8 lg:px-16 xl:px-20 2xl:px-52 bg-nav-light backdrop-blur-2xl backdrop-brightness-150;
}

.footer__social {
    @apply flex space-x-5 md:justify-end;
}

.footer__social button {
    @apply p-2 border-none rounded-md bg-dark-200 hover:bg-dark-100 hover:animate-bounce;
}

input[type="radio"]:checked + label span {
    background-color: #479e00;
    box-shadow: 0px 0px 0px 2px white inset;
}

/**************************************************************************/
/***************************    Scrollbar   *******************************/
/**************************************************************************/

html {
    overflow: auto !important;
    overflow-y: scroll !important;
    overflow-y: overlay !important;
}

/* Scroll bar width */
::-webkit-scrollbar {
    width: 4px;
}

/* Track */
::-webkit-scrollbar-track {
    background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
    border-radius: 50px;
    background: rgb(83, 194, 75);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: rgb(83, 194, 75);
}

/**************************************************************************/
/************************    React Datepicker   ***************************/
/**************************************************************************/
.react-datepicker{
    @apply border-none border-r-2 overflow-hidden !important;
}

.react-datepicker__header{
    @apply dark:bg-[#3f3f3f] dark:text-light-100 rounded-sm;
}

.react-datepicker__current-month, 
.react-datepicker__day-name,
.react-datepicker__day, 
.react-datepicker-time__header,
.react-datepicker__time-list-item{
    @apply dark:text-light-100;
}

.react-datepicker__day:hover, .react-datepicker__time-list-item:hover{
    @apply bg-primary-200 !important;
}
/* 
.react-datepicker__day--today{
    @apply font-bold dark:text-primary-100;
} */

.react-datepicker__day--disabled{
    @apply dark:text-[#7a7a7a];
}

.react-datepicker__input-container > input {
    padding: 4px 16px 4px 20px;
    border-radius: 4px;
    border: 2px solid transparent;
}

.react-datepicker__input-container > input:focus {
    outline: none;
    border: 2px solid #6cc027;
}

.react-datepicker__day--selected{
    @apply dark:bg-primary-200 !important;
}

.react-datepicker__month-container, .react-datepicker__time-list{
    @apply dark:bg-[#323232];
}

.react-datepicker__navigation-icon{
    @apply dark:text-primary-200 !important;
}

/**************************************************************************/
/****************************    Tooltip   ********************************/
/**************************************************************************/

.tooltip-button {
    background: none;
    font-family: var(--Poppins);
    font-weight: 400;
    font-size: 0.75rem;
    color: #7a7a7a;
    border: none;
    padding: 0px;
    /* height: fit-content !important; */
    min-width: fit-content;
}

.tooltip-button:hover {
    background: none;
    border: none;
    color: #9c9c9c;
}

button.tooltip-button:focus,
button.tooltip-button:active {
    /* Removes the button outline on click */
    outline: none !important;
    box-shadow: none !important;
    background: none;
    border: none;
    color: #7a7a7a;
}

.tooltip-button i {
    margin-right: 5px;
}

/* Custom Tooltip */

[data-tooltip] {
    position: relative;
    z-index: 10;
}

/* Positioning and visibility settings of the tooltip */
[data-tooltip]:before,
[data-tooltip]:after {
    position: absolute;
    visibility: hidden;
    opacity: 0;
    left: 50%;
    bottom: calc(80% + 5px); /* 5px is the size of the arrow */
    pointer-events: none;
    transition: 0.12s;
    will-change: transform;
}

/* The actual tooltip with a dynamic width */
[data-tooltip]:before {
    content: attr(data-tooltip);
    padding: 10px 18px;
    min-width: 50px;
    max-width: 250px;
    width: max-content;
    width: -moz-max-content;
    border: 1.5px solid #6cc027;
    border-radius: 6px;
    font-size: 14px;
    background-color: rgba(255, 255, 255, 0);
    backdrop-filter: blur(4px);
    /* background-image: linear-gradient(30deg, rgba(44, 53, 59, 0.9), rgba(48, 54, 59, 0.9), rgba(42, 56, 59, 0.9)); */
    box-shadow: 0px 0px 24px rgba(0, 0, 0, 0.1);
    font-family: var(--Poppins);
    text-align: center;
    white-space: pre-wrap;
    transform: translate(-50%, -5px) scale(0.5);
    @apply text-black dark:text-white;
}

.sample_based_tooltip > [data-tooltip]:before {
    max-width: 180px !important;
}

/* Tooltip arrow */
[data-tooltip]:after {
    content: "";
    border-style: solid;
    border-width: 5px 5px 0px 5px; /* CSS triangle */
    border-color: #6cc027 transparent transparent transparent;
    transition-duration: 0s; /* If the mouse leaves the element, 
								the transition effects for the 
								tooltip arrow are "turned off" */
    transform-origin: top; /* Orientation setting for the
								slide-down effect */
    transform: translateX(-50%) scaleY(0);
}

/* Tooltip becomes visible at hover */
[data-tooltip]:hover:before,
[data-tooltip]:hover:after {
    visibility: visible;
    opacity: 1;
}

/* Scales from 0.5 to 1 -> grow effect */
[data-tooltip]:hover:before {
    transition-delay: 0.1s;
    transform: translate(-50%, -5px) scale(1);
}

/* Arrow slide down effect only on mouseenter (NOT on mouseleave) */
[data-tooltip]:hover:after {
    transition-delay: 0.1s; /* Starting after the grow effect */
    transition-duration: 0.1s;
    transform: translateX(-50%) scaleY(1);
}

/*
	That's it for the basic tooltip.
  
	If you want some adjustability
	here are some orientation settings you can use:
*/

/* LEFT */
/* Tooltip + arrow */
[data-tooltip-location="left"]:before,
[data-tooltip-location="left"]:after {
    left: auto;
    right: calc(100% + 5px);
    bottom: 50%;
}

/* Tooltip */
[data-tooltip-location="left"]:before {
    transform: translate(-5px, 50%) scale(0.5);
}
[data-tooltip-location="left"]:hover:before {
    transform: translate(-5px, 50%) scale(1);
}

/* Arrow */
[data-tooltip-location="left"]:after {
    border-width: 5px 0px 5px 5px;
    border-color: transparent transparent transparent #6cc027;
    transform-origin: left;
    transform: translateY(50%) scaleX(0);
}
[data-tooltip-location="left"]:hover:after {
    transform: translateY(50%) scaleX(1);
}

/* RIGHT */
[data-tooltip-location="right"]:before,
[data-tooltip-location="right"]:after {
    left: calc(100% + 5px);
    bottom: 50%;
}

[data-tooltip-location="right"]:before {
    transform: translate(5px, 50%) scale(0.5);
}
[data-tooltip-location="right"]:hover:before {
    transform: translate(5px, 50%) scale(1);
}

[data-tooltip-location="right"]:after {
    border-width: 5px 5px 5px 0px;
    border-color: transparent #6cc027 transparent transparent;
    transform-origin: right;
    transform: translateY(50%) scaleX(0);
}
[data-tooltip-location="right"]:hover:after {
    transform: translateY(50%) scaleX(1);
}

/* BOTTOM */
[data-tooltip-location="bottom"]:before,
[data-tooltip-location="bottom"]:after {
    top: calc(80% + 5px);
    bottom: auto;
}

[data-tooltip-location="bottom"]:before {
    transform: translate(-50%, 5px) scale(0.5);
}
[data-tooltip-location="bottom"]:hover:before {
    transform: translate(-50%, 5px) scale(1);
}

[data-tooltip-location="bottom"]:after {
    border-width: 0px 5px 5px 5px;
    border-color: transparent transparent #6cc027 transparent;
    transform-origin: bottom;
}