/*
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0");
*/

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
	@variants responsive {
		/* Hide scrollbar for Chrome, Safari and Opera */
		.no-scrollbar::-webkit-scrollbar {
			display: none;
		}

		/* Hide scrollbar for IE, Edge and Firefox */
		.no-scrollbar {
			-ms-overflow-style: none; /* IE and Edge */
			scrollbar-width: none; /* Firefox */
		}
	}
}

html,
body {
	padding: 0 !important;
	margin: 0 !important;
	@apply font-primary;
	@apply bg-light-200 dark:bg-dark-600 scroll-smooth;
	@apply text-dark-600 dark:text-light-100;
	z-index: -2 !important;
}

a {
	color: inherit;
	text-decoration: none;
}

* {
	box-sizing: border-box;
}

/**************************************************************************/
/*****************************    Navbar   ********************************/
/**************************************************************************/

.navbar {
	@apply dark:bg-[rgba(19,19,19,0.4)] dark:backdrop-blur-[24px] w-full dark:backdrop-brightness-105 backdrop-blur-[40px] backdrop-brightness-200 bg-[rgba(255,255,255,0.8)];
}

.search-box {
	@apply h-[40px] bg-search-100 dark:bg-search-200 rounded-full p-1.5;
}

.search-li:hover .search-text {
	@apply w-[275px] px-4;
}

.search-box:hover > .search-btn {
	@apply text-black bg-white;
}

.search-btn {
	@apply flex items-center justify-center float-right p-2 duration-300 rounded-full cursor-pointer dark:text-white w-7 h-7 bg-search-100 dark:bg-dark-600 hover:bg-dark-800;
	text-decoration: none;
}

.search-text {
	border: none;
	background: none;
	outline: none;
	float: left;
	padding: 0;
	color: white;
	font-size: 12px;
	font-weight: normal;
	transition: 0.4s;
	line-height: 28px;
	width: 0px;
	@apply text-black dark:text-white;
}

/**************************************************************************/
/*****************************    Hamburger Menu  *************************/
/**************************************************************************/

.hamburger_container::-webkit-scrollbar {
	width: 0 !important; /* Remove scrollbar space */
	background: transparent !important; /* Optional: just make scrollbar invisible */
}

@media (max-width: 670px) {
	#menuToggle#menuToggle#menuToggle#menuToggle {
		right: 15px;
	}

	#menu#menu#menu#menu#menu {
		right: -75px;
		width: 105vw;
	}
}

@media (max-width: 786px) {
	.hamburger_menu.hamburger_menu {
		margin-top: 32px;
	}
}

@media (max-width: 1000px) {
	#menuToggle#menuToggle#menuToggle {
		right: 15px;
	}

	#menu#menu#menu {
		right: -75px;
	}
}

a:hover {
	color: inherit;
	text-decoration: none;
}

#menuToggle {
	display: block;
	position: absolute;
	top: 23px;
	right: 60px;
	z-index: 1;
	margin-top: -20px;
	margin-right: 60px;
}

.toggler {
	display: block;
	width: 60px;
	height: 60px;
	position: absolute;
	cursor: pointer;
	object-fit: contain;
	opacity: 0; /* hide this */
	z-index: 3; /* and place it over the hamburger */
}

/* Hamburger */
.hamburger {
	position: absolute;
	width: 60px;
	height: 60px;
	z-index: 2;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 50%;
}

.hamburger > div {
	position: absolute;
	width: 60%;
	height: 3px;
	border-radius: 1.2px;
	transition: 0.4s;
	@apply bg-black dark:bg-white;
}

.hamburger > div:before {
	@apply bg-black dark:bg-white;
	content: "";
	position: absolute;
	width: 75%;
	height: 3px;
	border-radius: 1.5px;
	top: -10px;
	right: 0;
	transition: 0.4s;
}

.hamburger > div:after {
	@apply bg-black dark:bg-white;
	content: "";
	position: absolute;
	width: 85%;
	height: 3px;
	border-radius: 1.5px;
	top: 10px;
	right: 0;
	transition: 0.4s;
}

.toggler:hover + .hamburger > div:before {
	width: 100%;
}

.toggler:hover + .hamburger > div:after {
	width: 100%;
}

.toggler:checked + .hamburger > div:before {
	width: 100%;
}

.toggler:checked + .hamburger > div:after {
	width: 100%;
}

.toggler:checked + .hamburger > div {
	transform: rotate(135deg);
	background-color: #fff;
}

.toggler:checked:hover + .hamburger > div {
	transform: rotate(225deg);
	background-color: #fff;
}

.toggler:checked + .hamburger > div:before,
.toggler:checked + .hamburger > div:after {
	top: 0;
	transform: rotate(90deg);
	background-color: #fff;
}

/*
 * Make this absolute positioned
 * at the top left of the screen
 */
#menu {
	position: absolute;
	width: 100vw;
	margin: -100px 0 0 0;
	padding: 125px 30px 40px 30px;
	right: -120px;
	background: #0d0d0d;
	list-style-type: none;
	-webkit-font-smoothing: antialiased;
	overflow-y: scroll !important;
	/* to stop flickering of text in safari */
	transform-origin: 0% 0%;
	transform: translate(100%, 0);
	transition: transform 1.5s cubic-bezier(0.77, 0.2, 0.05, 1);
}

#menu li {
	padding: 10px 0;
	font-size: 22px;
}

/*
 * fade it in from the left
 */
#menuToggle input:checked ~ div {
	transform: scale(1, 1);
	opacity: 1;
}

.hamburger_container {
	height: 100vh;
	overscroll-behavior: contain;
	overflow-x: hidden !important;
	margin-left: 15px;
}

.menu_box {
	text-align: center;
	width: 100%;
	max-width: 1500px;
	margin: 0 auto;
	font-size: 16px;
	max-height: 130vh;
	padding-bottom: 40px;
}

.toggler:checked + .hamburger + #menu > .hamburger_container > .menu_box {
	animation: menu_content_fade_in 1.5s ease-in-out;
}

.toggler:not(:checked) + .hamburger + #menu {
	transition: transform 2s cubic-bezier(0.77, 0.2, 0.05, 1) 0.5s;
}

.toggler:not(:checked) + .hamburger + #menu > .hamburger_container > .menu_box {
	animation: menu_content_fade_out 0.4s ease-out;
	opacity: 0;
}

@keyframes menu_content_fade_in {
	0% {
		opacity: 0;
	}
	75% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@keyframes menu_content_fade_out {
	0% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}

@keyframes slide_up {
	0% {
		transform: translateY(100px);
		opacity: 0;
	}

	90% {
		transform: translateY(100px);
		opacity: 0;
	}

	100% {
		transform: translateY(0px);
		opacity: 1;
	}
}

@keyframes slide_down {
	0% {
		transform: translateY(-120px);
		opacity: 0;
	}

	90% {
		transform: translateY(-120px);
		opacity: 0;
	}

	100% {
		transform: translateY(0px);
		opacity: 1;
	}
}

@keyframes slide_left {
	0% {
		transform: translateX(80px);
		opacity: 0;
	}

	80% {
		transform: translateX(80px);
		opacity: 0;
	}

	100% {
		transform: translateX(0px);
		opacity: 1;
	}
}

@keyframes slide_right {
	0% {
		width: 0;
		opacity: 0;
	}

	80% {
		width: 0;
		opacity: 0;
	}

	100% {
		width: 100%;
		opacity: 1;
	}
}

.toggler:checked + .hamburger + #menu > .hamburger_container > .menu_box > div > .logo_div_anim {
	animation: slide_down 1.2s ease-out;
}

.toggler:checked + .hamburger + #menu > .hamburger_container > .menu_box > div > .create_left_anim {
	animation: slide_left 1.6s ease-in;
}

.toggler:checked + .hamburger + #menu > .hamburger_container > .menu_box > div > .create_left_anim + .dashboard_left_anim {
	animation: slide_left 1.6s ease-in;
}

.toggler:checked + .hamburger + #menu > .hamburger_container > .menu_box > div + div + div > .horizontal_line_to_right {
	animation: slide_right 2.6s ease-in;
}

.toggler:checked + .hamburger + #menu > .hamburger_container > .menu_box > div + .hamburger_menu {
	animation: slide_up 2s ease-in;
}

.toggler:checked + .hamburger + #menu > .hamburger_container > .menu_box > div + .harmburger_menu_connect {
	animation: slide_up 2.9s ease-in;
}

@keyframes text_glow {
	to {
		font-size: 1.05em;
		color: #fff;
		font-weight: 550;
	}
}

.hamburger_logo_mxv {
	width: 150px;
}

.hamburger_menu {
	margin-top: 100px;
}

.ham_menu_hover_effect_row {
	height: 32px !important;
}

.ham_menu_heading {
	color: #fff;
	font-size: 1.2em;
	font-family: var(--Poppins);
	font-weight: 600;
	text-align: left;
}

.ham_menu_link {
	color: #fff;
	font-size: 1em;
	font-family: var(--Poppins);
	text-align: left;
}

.ham_menu_link:hover {
	color: rgb(83, 194, 75);
}

@keyframes ham_menu_text_glow {
	to {
		font-size: 1.12em;
		font-weight: 550;
	}
}

.ham_menu_hover_effect:hover {
	animation: ham_menu_text_glow 0.05s forwards;
}

.horizontal_line_to_right {
	background-color: #fff !important;
	height: 1.3px !important;
}

.connect_link {
	@apply text-white hover:text-primary-500;
}

/**************************************************************************/
/*****************************    Footer   ********************************/
/**************************************************************************/

.footer {
	@apply w-full max-w-[1920px] pt-20 pb-10 px-6 md:px-8 lg:px-16 xl:px-20 2xl:px-36 bg-nav-light backdrop-blur-2xl backdrop-brightness-150;
}

.footer__social {
	@apply flex space-x-2 lg:space-x-3 xl:space-x-5 md:justify-end;
}

.footer__social button {
	@apply p-2 border-none rounded-md bg-dark-800 hover:bg-dark-600 hover:animate-bounce;
}

input[type="radio"]:checked + label > span {
	background-color: #479e00;
	box-shadow: 0px 0px 0px 2px white inset;
}

/**************************************************************************/
/***************************    Scrollbar   *******************************/
/**************************************************************************/

html {
	overflow: auto !important;
	overflow-y: scroll !important;
	overflow-y: overlay !important;
}

/* Scroll bar width */
::-webkit-scrollbar {
	width: 4px;
	height: 4px;
}

/* Track */
::-webkit-scrollbar-track {
	background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
	border-radius: 50px;
	background: rgb(83, 194, 75);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: rgb(83, 194, 75);
}

/**************************************************************************/
/************************    React Datepicker   ***************************/
/**************************************************************************/
.react-datepicker {
	@apply border-none border-r-2 overflow-hidden !important;
}

.react-datepicker__header {
	@apply dark:bg-[#3f3f3f] dark:text-light-100 rounded-sm;
}

.react-datepicker__current-month,
.react-datepicker__day-name,
.react-datepicker__day,
.react-datepicker-time__header,
.react-datepicker__time-list-item {
	@apply dark:text-light-100;
}

.react-datepicker__day:hover,
.react-datepicker__time-list-item:hover {
	@apply bg-primary-600 text-light-100 !important;
}
/* 
.react-datepicker__day--today{
    @apply font-bold dark:text-primary-500;
} */

.react-datepicker__day--disabled {
	@apply dark:text-[#7a7a7a];
}

.react-datepicker__input-container > input {
	width: 100%;
	padding: 4px 16px 4px 20px;
	border-radius: 4px;
	border: 2px solid transparent;
}

.react-datepicker__input-container > input:focus {
	outline: none;
	border: 2px solid #6cc027;
}

.react-datepicker__day--selected {
	@apply dark:bg-primary-600 !important;
}

.react-datepicker__month-container,
.react-datepicker__time-list {
	@apply dark:bg-[#323232];
}

.react-datepicker__navigation-icon {
	@apply dark:text-primary-600 !important;
}

/**************************************************************************/
/****************************    Tooltip   ********************************/
/**************************************************************************/

.tooltip-button {
	background: none;
	font-family: "Roboto", "sans-serif";
	color: #7a7a7a;
	border: none;
	padding: 0px;
	margin: 0px;
	/* height: fit-content !important; */
	min-width: fit-content;
}

.tooltip-button:hover {
	background: none;
	border: none;
	color: #9c9c9c;
}

button.tooltip-button:focus,
button.tooltip-button:active {
	/* Removes the button outline on click */
	outline: none !important;
	box-shadow: none !important;
	background: none;
	border: none;
	color: #7a7a7a;
}

.tooltip-button i {
	margin-right: 5px;
}

/* Custom Tooltip */

[data-tooltip] {
	position: relative;
}

[data-tooltip]:hover {
	z-index: 10 !important;
}

/* Positioning and visibility settings of the tooltip */
[data-tooltip]:before,
[data-tooltip]:after {
	position: absolute;
	visibility: hidden;
	opacity: 0;
	left: 50%;
	bottom: calc(80% + 5px); /* 5px is the size of the arrow */
	pointer-events: none;
	transition: 0.12s;
	will-change: transform;
}

/* The actual tooltip with a dynamic width */
[data-tooltip]:before {
	@apply dark:bg-dark-600 bg-light-100;
	content: attr(data-tooltip);
	padding: 10px 18px;
	min-width: 50px;
	max-width: 250px;
	width: max-content;
	width: -moz-max-content;
	border: 1.5px solid #6cc027;
	border-radius: 6px;
	font-size: 14px;
	/* background-image: linear-gradient(30deg, rgba(44, 53, 59, 0.9), rgba(48, 54, 59, 0.9), rgba(42, 56, 59, 0.9)); */
	/* box-shadow: 0px 0px 24px rgba(0, 0, 0, 0.1); */
	font-family: "Roboto", "sans-serif";
	text-align: center;
	white-space: pre-wrap;
	transform: translate(-50%, -5px) scale(0.5);
	@apply text-black dark:text-white;
}

.sample_based_tooltip > [data-tooltip]:before {
	max-width: 180px !important;
}

/* Tooltip arrow */
[data-tooltip]:after {
	content: "";
	border-style: solid;
	border-width: 5px 5px 0px 5px; /* CSS triangle */
	border-color: #6cc027 transparent transparent transparent;
	transition-duration: 0s; /* If the mouse leaves the element, 
								the transition effects for the 
								tooltip arrow are "turned off" */
	transform-origin: top; /* Orientation setting for the
								slide-down effect */
	transform: translateX(-50%) scaleY(0);
}

/* Tooltip becomes visible at hover */
[data-tooltip]:hover:before,
[data-tooltip]:hover:after {
	visibility: visible;
	opacity: 1;
}

/* Scales from 0.5 to 1 -> grow effect */
[data-tooltip]:hover:before {
	transition-delay: 0.1s;
	transform: translate(-50%, -5px) scale(1);
}

/* Arrow slide down effect only on mouseenter (NOT on mouseleave) */
[data-tooltip]:hover:after {
	transition-delay: 0.1s; /* Starting after the grow effect */
	transition-duration: 0.1s;
	transform: translateX(-50%) scaleY(1);
}

/*
	That's it for the basic tooltip.
  
	If you want some adjustability
	here are some orientation settings you can use:
*/

/* LEFT */
/* Tooltip + arrow */
[data-tooltip-location="left"]:before,
[data-tooltip-location="left"]:after {
	left: auto;
	right: calc(100% + 5px);
	bottom: 50%;
}

/* Tooltip */
[data-tooltip-location="left"]:before {
	transform: translate(-5px, 50%) scale(0.5);
}
[data-tooltip-location="left"]:hover:before {
	transform: translate(-5px, 50%) scale(1);
}

/* Arrow */
[data-tooltip-location="left"]:after {
	border-width: 5px 0px 5px 5px;
	border-color: transparent transparent transparent #6cc027;
	transform-origin: left;
	transform: translateY(50%) scaleX(0);
}
[data-tooltip-location="left"]:hover:after {
	transform: translateY(50%) scaleX(1);
}

/* RIGHT */
[data-tooltip-location="right"]:before,
[data-tooltip-location="right"]:after {
	left: calc(100% + 5px);
	bottom: 50%;
}

[data-tooltip-location="right"]:before {
	transform: translate(5px, 50%) scale(0.5);
}
[data-tooltip-location="right"]:hover:before {
	transform: translate(5px, 50%) scale(1);
}

[data-tooltip-location="right"]:after {
	border-width: 5px 5px 5px 0px;
	border-color: transparent #6cc027 transparent transparent;
	transform-origin: right;
	transform: translateY(50%) scaleX(0);
}
[data-tooltip-location="right"]:hover:after {
	transform: translateY(50%) scaleX(1);
}

/* BOTTOM */
[data-tooltip-location="bottom"]:before,
[data-tooltip-location="bottom"]:after {
	top: calc(80% + 5px);
	bottom: auto;
}

[data-tooltip-location="bottom"]:before {
	transform: translate(-50%, 5px) scale(0.5);
}
[data-tooltip-location="bottom"]:hover:before {
	transform: translate(-50%, 5px) scale(1);
}

[data-tooltip-location="bottom"]:after {
	border-width: 0px 5px 5px 5px;
	border-color: transparent transparent #6cc027 transparent;
	transform-origin: bottom;
}

/* Tooltip Theme */

[data-tooltip-theme="glass"]:before {
	@apply dark:bg-dark-600/80 bg-light-100/10;
}

/**************************************************************************/
/**********************    Profile Verification   *************************/
/**************************************************************************/

.instagram {
	background: #f09433;
	background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
	background: -webkit-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
	background: linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );
}

/**************************************************************************/
/*****************    Create NFT (Unlockable Content)   *******************/
/**************************************************************************/

.selected-unlockable-content-div {
	@apply grid items-center justify-center w-full grid-cols-5;
}

.selected-unlockable-content-item {
	@apply mt-2 w-full flex flex-col items-center justify-center text-center text-xs font-normal text-[#777777];
}

.selected-unlockable-content-span {
	@apply mt-1 w-[70px] whitespace-nowrap overflow-hidden text-ellipsis;
}

/**************************************************************************/
/****************    Track Info (Unlockable Content Card)   ***************/
/**************************************************************************/

.unlockable-content-card:hover {
	transform: rotateY(180deg);
	transform-style: preserve-3d;
}

.unlockable-content-card-back {
	transform: rotateY(180deg);
}

/**************************************************************************/
/****************    Top Artist Swiper Component   ************************/
/**************************************************************************/
.swiper-container .swiper {
	padding-left: 60px;
	padding-right: 60px;
}

.swiper-button-next:after {
	color: #5ab510;
}

.swiper-button-prev:after {
	color: #5ab510;
}

/**************************************************************************/
/****************    Promo NFT carousel   ************************/
/**************************************************************************/

#slider {
	position: relative;
	width: 50%;
	height: 30vw;
	/* margin: 80px auto; */
	/* font-family: 'Helvetica Neue', sans-serif; */
	perspective: 1400px;
	transform-style: preserve-3d;
	display: flex;
	justify-content: center;
	align-items: center;
}

#slider input[type="radio"] {
	position: relative;
	top: 108%;
	left: 50%;
	width: 18px;
	height: 18px;
	margin: 0 15px 0 0;
	opacity: 0.4;
	transform: translateX(-83px);
	cursor: pointer;
	display: none;
}

#slider input[type="radio"]:nth-child(5) {
	margin-right: 0px;
}

#slider input[type="radio"]:checked {
	opacity: 1;
}

#slider label {
	position: absolute;
	width: max-content;
	/* filter: brightness(1.05); */
	/* backdrop-filter: blur(10px) brightness(1); */
	/* width: 100%;
	height: 100%; */
	/* left: 0;
	top: 0; */
	/* color: white;
	font-size: 70px;
	font-weight: bold;
	border-radius: 5px; */
	cursor: pointer;
	/* display: flex;
	align-items: center;
	justify-content: center; */
	transition: transform 400ms ease;
}

/* Slider Functionality */

/* Active Slide */
#s1:checked ~ #slide1,
#s2:checked ~ #slide2,
#s3:checked ~ #slide3,
#s4:checked ~ #slide4,
#s5:checked ~ #slide5,
#s6:checked ~ #slide6,
#s7:checked ~ #slide7,
#s8:checked ~ #slide8 {
	/* box-shadow: 0 13px 26px rgba(0,0,0, 0.3), 0 12px 6px rgba(0,0,0, 0.2); */
	transform: translate3d(0%, 0, 0px);
}

/* Next Slide */
#s1:checked ~ #slide2,
#s2:checked ~ #slide3,
#s3:checked ~ #slide4,
#s4:checked ~ #slide5,
#s5:checked ~ #slide6,
#s6:checked ~ #slide7,
#s7:checked ~ #slide8,
#s8:checked ~ #slide1 {
	/* box-shadow: 0 6px 10px rgba(0,0,0, 0.3), 0 2px 2px rgba(0,0,0, 0.2); */
	transform: translate3d(30%, 0, -100px) scale(0.75);
}

/* Next to Next Slide */
#s1:checked ~ #slide3,
#s1:checked ~ #slide4,
#s1:checked ~ #slide5,
#s1:checked ~ #slide6,
#s1:checked ~ #slide7,
#s2:checked ~ #slide4,
#s2:checked ~ #slide5,
#s2:checked ~ #slide6,
#s2:checked ~ #slide7,
#s2:checked ~ #slide8,
#s3:checked ~ #slide5,
#s3:checked ~ #slide6,
#s3:checked ~ #slide7,
#s3:checked ~ #slide8,
#s3:checked ~ #slide1,
#s4:checked ~ #slide6,
#s4:checked ~ #slide7,
#s4:checked ~ #slide8,
#s4:checked ~ #slide1,
#s4:checked ~ #slide2,
#s5:checked ~ #slide7,
#s5:checked ~ #slide8,
#s5:checked ~ #slide1,
#s5:checked ~ #slide2,
#s5:checked ~ #slide3,
#s6:checked ~ #slide8,
#s6:checked ~ #slide1,
#s6:checked ~ #slide2,
#s6:checked ~ #slide3,
#s6:checked ~ #slide4,
#s7:checked ~ #slide1,
#s7:checked ~ #slide2,
#s7:checked ~ #slide3,
#s7:checked ~ #slide4,
#s7:checked ~ #slide5,
#s8:checked ~ #slide2,
#s8:checked ~ #slide3,
#s8:checked ~ #slide4,
#s8:checked ~ #slide5,
#s8:checked ~ #slide6 {
	/* box-shadow: 0 1px 4px rgba(0,0,0, 0.4); */
	transform: translate3d(0%, 0, -250px);
	/* display: none; */
}

/* Previous to Previous Slide */
#s1:checked ~ #slide7,
#s2:checked ~ #slide8,
#s3:checked ~ #slide1,
#s4:checked ~ #slide2,
#s5:checked ~ #slide3,
#s6:checked ~ #slide4,
#s7:checked ~ #slide5,
#s8:checked ~ #slide6 {
	/* box-shadow: 0 1px 4px rgba(0,0,0, 0.4); */
	transform: translate3d(0%, 0, -250px);
	/* display: none; */
}
/* Previous Slide */
#s1:checked ~ #slide8,
#s2:checked ~ #slide1,
#s3:checked ~ #slide2,
#s4:checked ~ #slide3,
#s5:checked ~ #slide4,
#s6:checked ~ #slide5,
#s7:checked ~ #slide6,
#s8:checked ~ #slide7 {
	/* box-shadow: 0 6px 10px rgba(0,0,0, 0.3), 0 2px 2px rgba(0,0,0, 0.2); */
	transform: translate3d(-30%, 0, -100px) scale(0.75);
}

@media (max-width: 404px) {
	/* prev slide  */
	#s1:checked ~ #slide8,
	#s2:checked ~ #slide1,
	#s3:checked ~ #slide2,
	#s4:checked ~ #slide3,
	#s5:checked ~ #slide4,
	#s6:checked ~ #slide5,
	#s7:checked ~ #slide6,
	#s8:checked ~ #slide7 {
		/* box-shadow: 0 6px 10px rgba(0,0,0, 0.3), 0 2px 2px rgba(0,0,0, 0.2); */
		transform: translate3d(-25%, 0, -100px) scale(0.75);
	}
	#s1:checked ~ #slide2,
	#s2:checked ~ #slide3,
	#s3:checked ~ #slide4,
	#s4:checked ~ #slide5,
	#s5:checked ~ #slide6,
	#s6:checked ~ #slide7,
	#s7:checked ~ #slide8,
	#s8:checked ~ #slide1 {
		/* box-shadow: 0 6px 10px rgba(0,0,0, 0.3), 0 2px 2px rgba(0,0,0, 0.2); */
		transform: translate3d(25%, 0, -100px) scale(0.75);
	}
}
